fastapi==0.103.1
uvicorn==0.23.2

# PostgreSQL (SQLAlchemy + psycopg2)
sqlalchemy==2.0.20
psycopg2-binary==2.9.6

# MongoDB
pymongo==4.5.0

# Pydantic 
pydantic[email]==2.7.1
pydantic-settings==2.0.3

# validator
email-validator==2.1.1

# dotenv
python-dotenv==0.21.1

# Authentication
python-jose[cryptography]
passlib[bcrypt]

# Form multipart 
python-multipart==0.0.9

# github secret key 
detect-secrets==1.4.0

# boto3
boto3==1.34.93
botocore==1.34.93

# async
aiofiles==23.2.1

# nmap
python-nmap
lxml
zaproxy
